.TodoForm {
    margin: 50px;
}

.InputForm {
    text-align: left;
    font-family: monospace;
    font-size: 25px;
    max-width: 40%;
    margin-left: 2%;
}

.AddButton {
    margin-left: 20px;
    font-family: monospace;
}