.TodoItem-todo.done {
    text-decoration: line-through;
    font-style: italic;
    color: #a1a0a0;
}

ul {
    list-style-type: none;
    margin-left: 25%;
    margin-right: 25%;
    font-family: monospace;
}

ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 8px;
    text-align: left;
    font-size: 15px;
    display: block;
    position: relative;
    cursor: pointer;
}

ul li:hover {
    background-color: #eee;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 7%;
    padding: 13px 18px;
    transform: translate(0%, -50%);
    opacity: 0.80;
    
}

.close.anticon {
    color: #d11414;
}

.close:hover {
    background-color: #bbb
}

.close:active {
    background-color: #808080;
}

.update {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 13px 18px;
    transform: translate(0%, -50%);
    opacity: 0.80;
    
}

.update.anticon {
    color: #5334df;
}

.update:hover {
    background-color: #bbb
}

.update:active {
    background-color: #808080;
}